{% load static from staticfiles %}
{% load course_extras %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
        

        {% block static %}{% endblock %}
    </head>
    <body>
        
        
            <div >{% nav_courses_list %}</div>
            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active" style="align-items: center;">
                      <a class="nav-link" href="{% url 'views.hello_world' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" style="align-items: center;">
                      <a class="nav-link" href="{% url 'courses:list' %}">Courses</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            {% if messages %}
            <div class="container">
              {% for message in messages %}
                  <div data-alert class="alert-box {{ message.tags }} radius">
                    {{ message }}
                    <a href="#" class="close">&times;</a>
                  </div>
                  {% endfor %}
                
              
            </div>
            {% endif %}
            
            {% block content %}{% endblock %}
            
            <!--java script-->
      
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>